{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container-fluid mt-5">
  <div id="carouselExampleIndicators" class="carousel slide" style="max-height: 90vh; overflow: hidden;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/6s.jpg" style="width: 100%; " alt="Responsive Image">

        </div>
        <div class="carousel-item">
          <img src="/static/img/7s.jpg" class="d-block w-100" alt="not loaded">
        </div>
        <div class="carousel-item">
          <img src="/static/img/8s.jpg" class="d-block w-100" alt="Ice cream 3">
        </div>
      </div>
      
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container"  >
  <h1 class="my-4 text-center">Select your ice-cream</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photos.jpg" style="width: 100%; " alt="Responsive Image">

        <div class="card-body">
          <p class="card-text">Enjoy a delightful two-flavor ice cream experience, blending creamy vanilla with rich chocolate. Each bite offers a perfect balance of sweetness, creating a harmonious and satisfying treat.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photos (4).jpg" style="width: 100%; " alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">Indulge in a refreshing two-flavor ice cream, featuring tangy strawberry swirled with smooth, creamy pistachio, delivering a vibrant taste experience</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photo_3.jpg" style="width: 100%;" alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">Our two-flavor ice cream combines the richness of coffee with the sweetness of caramel, offering a decadent treat with every spoonful..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/224.jpg" style="width: 100%;" alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">Our moist chocolate cake is layered with creamy ganache, topped with a dusting of cocoa for a rich, indulgent dessert.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photos (6).jpg" style="width: 100%; " alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">Vanilla sponge cake, light and fluffy, is paired with fresh strawberries and whipped cream for a classic, delightful treat.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photos (7).jpg" style="width: 100%; " alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">The decadent red velvet cake, with its signature cream cheese frosting, offers a perfect balance of sweetness and tang..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photos3.jpg" style="width: 100%; " alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">Enjoy a triple scoop cone featuring chocolate, vanilla, and strawberry, each flavor complementing the others in every delicious bite..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photos3.jpg" style="width: 100%; " alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">Our three-flavor cone offers a unique blend of mint, chocolate, and raspberry, delivering a refreshing, vibrant taste in each lick.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/photos3.jpg" style="width: 100%; " alt="Responsive Image">
        <div class="card-body">
          <p class="card-text">Indulge in a waffle cone filled with rich chocolate, fruity mango, and creamy coconut, creating a tropical ice cream delight.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
